.cHomePage {
  display: flex;
  align-items: center;
  padding: 15% 10%;
  justify-content: space-between;

  &__textContainer {
    .helloContainer {
      padding: 8px;
      color: blue;
    }
    .nameContainer {
      padding: 8px;
      font-weight: bold;
      font-size: 56px;
    }
    .jobPositionContainer {
      padding: 8px;
      color: grey;
    }
  }

  &__imgContainer {
    .profilePicture {
      border-radius: 50%;
    }
  }

  &__iconContainer {
    display: flex;
    height: 100%;
    justify-content: flex-start;

    .iconContainer {
      &__color {
        color: #000;
      }

      &__color:hover {
        border: 1px solid #1e76e3;
        border-radius: 50%;
        padding: 8px;
        color: #1e76e3;
        cursor: pointer;
      }
    }
  }
}
