.cAppLayout {
  &__header {
    position: fixed;
    top: 0%;
    z-index: 1;
    width: 100%;
    background: #f5f5f5;
    padding: 24px;
    display: flex;

    .avatarContainer {
      flex-grow: 1;
      &__img {
        border-radius: 50%;
      }
    }

    .navLink {
      margin-left: 8px;
      font-weight: bold;
    }
  }

  &__content {
    padding: 0 32px;
    margin-top: 54px;

    .childrenContainer {
      padding: 24px;
    }
  }

  &__footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0%;
    padding: 16px;
    background: #fafafa;
  }
}

.gridContainer {
  border: solid 4px #000;
  display: grid;
  grid-template-columns: 6em 6em 6em 6em;
  grid-template-rows: 6em 6em;
  grid-auto-flow: dense;
}

.gridItem2 {
  grid-column: 2 / span 2;
}
